.btn__custom {
  height: 48px;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 0px 20px;
}

.btn__order__action {
    height: 54px;
}

.button__gray {
  background: #DADADD;
  color: #5F5E6B;
}

.btn__custom.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button__orange {
  background: #FF970D !important;
  color: white;
}

.button__blue {
  background: #384ADC !important;
  color: white;
}

.button__red {
  background: #EF4444;
  color: white;
}

.button__violet {
  background: #8B5CF6;
  color: white;
}

.custom__button__st1 {
  height: 30px;
}

.button__outline__t__orange {
  background: white;
  border: 1px solid #909098;
  color: #FF970D;
}

.button__outline__gray {
  background: white;
  border: 1px solid #909098;
  color: #1D1C2D;
}

.button__outline__gray__opacity {
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #5F5E6B;
}

.button__outline__gray__opacity.active {
  position: relative;
  border: 1px solid #FF970D;
}

.button__outline__gray__opacity.active svg path {
  fill: #FF970D;
}

.button__outline__gray__opacity.active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("/images/polygon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  background-position: top center;
  left: 50%;
  transform: translateX(-50%);
}

.message__question__box {
  font-weight: 600;
  font-size: 14px;
  color: #5F5E6B;
  text-decoration: none;
  border-bottom: 1.5px solid #5F5E6B;
  cursor: pointer;
}

.gap-4px {
  gap: 4px;
}

.custom__tab__bhv .nav-tabs li a {
  background-color: #F0F0F1;
  border-width: 1px;
  border-style: solid;
  border-color: #DADADD !important;
  border-radius: 4px 4px 0px 0px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #5F5E6B;
  height: 100%;
  margin: 0;
  line-height: 25px;
}

.custom__tab__bhv .nav-tabs li.active a {
  background-color: #FFFFFF;
  font-weight: 700;
  color: #1D1C2D;
  border-bottom: 0px !important;
}

.custom__tab__bhv .tab-content {
  background-color: white;
  border: 1px solid #DADADD;
  border-top: none !important;
  padding: 16px 12px;
}

.grid__content__order {
  display: grid;
  grid-template-columns: 64% 2px 1fr;
  column-gap: 12px;
}

.old_price {
  text-decoration: line-through;
}

.grid__content__order .line {
  border-right: 1px solid #DADADD;
}

.grid__content__order .scroll__tb__box {
  /* height: calc(100vh - 600px); */
  /* height: fit-content !important; */
  overflow-y: auto;
  min-height: 170px;
  height: 170px;
}

.grid__content__order .scroll__tb__box thead {
  position: sticky;
  top: 0;
}

.grid__content__order .scroll__tb__box::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

.grid__content__order .scroll__tb__box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #FF970D;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.grid__content__order .col__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tbody__order__id .none__item td div {
  text-align: center !important;
  align-items: center;
  justify-content: center;
}

.color__blue {
  opacity: 1 !important;
  color: #384ADC !important;
}

.color__red {
  color: #EF4444!important;
}

.color__green {
  color: #10B981 !important;
}

.color__violet {
  color: #8B5CF6 !important;
}

.color__violet {
  color: #8B5CF6 !important;
}

.input__custom {
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  padding: 12px;
}

.input__custom::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #909098;
}

.w__50percent {
  width: 50%;
}

.checkbox__orange .custom-checkbox input {
  width: 24px;
  height: 24px;
}

.checkbox__orange .custom-control-input ~ .custom-control-label::before {
  color: #fff;
  border: 1px solid #cdcdcd !important;
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.checkbox__orange .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border: 1px solid transparent !important;
  background-color: white;
  background: #FF970D;
}

.checkbox__orange .custom-control-label::after {
  width: 24px;
  height: 24px;
}

.checkbox__orange .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("/images/checked-white.svg");
}

.checkbox__orange .custom-control-label span {
  margin-left: 12px;
  margin-top: 3px;
}

.checkbox__orange.small .custom-checkbox input {
  width: 20px;
  height: 20px;
}

.checkbox__orange.small .custom-control-label::after {
  width: 20px;
  height: 20px;
  top: 0;
}

.checkbox__orange.small .custom-control-label::before {
  transform: translateY(-4px);
}

.checkbox__orange.small .custom-control-input ~ .custom-control-label::before {
  width: 20px;
  height: 20px;
}

.table__st1 table {
  width: 100%;
}

.table__st1 table thead th {
  padding: 20px;
}

.table__st1 table .td__none {
  padding: 60px;
}

.table__st1 {
  border: 1px solid #DADADD;
  border-radius: 4px;
}

.table__st1 table thead tr td {
  padding: 8px;
  background-color: #F0F0F1;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
}

.table__st1 table tbody tr td {
  padding: 12px 10px;
  border-bottom: 1px solid #DADADD;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
}

.table__st1 table tbody tr:last-child td {
  border-bottom: 0px solid #DADADD;
}

.mt-8px {
  margin-top: 8px;
}

.table__report__bottom {
  display: grid;
  grid-template-columns: 50% 1fr;
  padding: 8px;
  background-color: #F0F0F1;
  border-bottom: 1px solid #DADADD;
}

.input__td {
  width: 87px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input__width__popup {
  position: relative;
}

.input__width__popup .popup__component,
.input__width__popup .popup__component1 {
  position: absolute;
  top: calc(100% + 6px);
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #c4c4c4;
  border-radius: 4px;
  width: calc(100% - 4px);
  left: 2px;
  z-index: 2;
}

.input__width__popup .popup__component ul,
.input__width__popup .popup__component1 ul {
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.input__width__popup .popup__component ul li,
.input__width__popup .popup__component1 ul li {
  padding: 8px;
  cursor: pointer;
}

.input__width__popup .popup__component ul li:hover,
.input__width__popup .popup__component1 ul li:hover {
  background-color: #f2f2f2;
}

.input__width__popup .popup__component ul::-webkit-scrollbar,
.input__width__popup .popup__component1 ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.input__width__popup .popup__component ul::-webkit-scrollbar-thumb,
.input__width__popup .popup__component1 ul::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909098;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.grid__col__2 {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 12px;
}

.color__orange {
  color: #F97316 !important;
}

.mt-5px {
  margin-top: 5px;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.line__verticle {
  margin: 0 12px;
  width: 1px;
  border-right: 1px solid #DADADD;
  height: 20px;
}

.color__4B4B59 {
  color: #4B4B59;
}

.input__with__icon {
  position: relative;
}

.input__with__icon input {
  outline: none;
  box-shadow: none;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  padding-left: 40px;
}

.input__with__icon input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #DADADD;
}

.input__with__icon .icon__prefix {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.customer__box__component {
  background: #FFFCEB;
  border: 1px solid #FF970D;
  border-radius: 4px;
  padding: 12px;
  position: relative;
}

.customer__box__component .close__customer__box__component {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 111;
  cursor: pointer;
}

.custom__switch__component {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom__switch__component .custom-control-label::before {
  width: 32px !important;
  height: 16px !important;
  border-radius: 30px !important;
  background-color: #e6e6e6;
  border: none;
}

.custom__switch__component .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background: #384ADC !important;
}

.custom__switch__component .custom-control-input:checked ~ .custom-control-label::before {
  background: #384ADC !important;
  border: 2px solid #384ADC !important;
}

.custom__switch__component .custom-control-input:checked ~ .custom-control-label::after {
  background: #384ADC !important;
  background: white !important;
  left: calc(-20px);
}

.custom__switch__component .custom-switch .custom-control-label::after {
  background: #f6f6f6 !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  width: 16px !important;
  height: 16px !important;
  top: 3px;
  left: calc(-2.25rem + 0px);
}

.no__text__label .custom-control-label::after {
  top: 4px !important;
}

.empty__list,
.empty__list1 {
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #909098;
}

.tag__list__st1 {
  position: absolute;
  right: 0;
  bottom: calc(100% + 6px);
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-width: 238px;
}

.tag__list__st1 .list__top {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 180px;
  overflow-y: scroll;
}

.tag__list__st1 .list__top::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.tag__list__st1 .list__top::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909098;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.tag__list__st1 .list__top .tag__item {
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
  cursor: pointer;
}

.tag__list__st1 .list__top .tag__item.active {
  font-weight: 600;
  color: #384ADC;
}

.z-top {
  z-index: 1111;
  position: relative;
}

.custom__mg__hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-8px {
  padding: 8px;
}

.tag__selected__list {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.tag__selected__list .tag__selected__item {
  background: #FFFFFF;
  border: 1px solid #FFCF90;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #F97316;
}

.tag__selected__list .tag__selected__item .remove__item__tag {
  cursor: pointer;
}

.textarea__gray {
  background: #F5F5F6;
  border: 1px solid #DADADD;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.textarea__gray::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #4B4B59;
}

.tab__list__note {
  gap: 20px;
}

.tab__list__note .tab__item__note {
  font-weight: 600;
  font-size: 14px;
  min-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909098;
  padding: 0px 10px;
  cursor: pointer;
}

.tab__list__note .tab__item__note.active {
  color: #FF970D;
  border-bottom: 2px solid #FF970D;
}

.order__tab__item {
  display: flex !important;
  align-items: center;
  gap: 12px;
}

.order__tab__item a {
  z-index: 1;
  padding-right: 40px !important;
  transform: translateY(2px);
}

.order__tab__item .remove__new__tab {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 2;
  transform: translateY(-36%);
  cursor: pointer;
}

.add__new__tab a {
  transform: translateY(2px);
}

.dropdown__custom .dropdown__list {
  position: absolute;
  top: calc(100% + 12px);
  min-width: 208px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  right: 0;
}

.dropdown__custom .dropdown__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__custom .dropdown__list ul .dropdown__item {
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
  cursor: pointer;
}

.dropdown__custom .dropdown__list ul .dropdown__item.active {
  font-weight: 600;
  color: #384ADC;
}

.grid__col__3 {
  grid-template-columns: 33% 33% 1fr !important;
}

.font-24 {
  font-size: 24px;
}

.gap-20px {
  gap: 20px;
}

.select2-container--default {
  z-index: 111;
}

#toast-container {
  z-index: 111;
}

.box__address__custom {
  width: 277px;
  min-width: 277px;
  background: #F5F5F6;
  border: 1px solid #DADADD;
  border-radius: 4px;
  padding: 8px;
}

.scroll__horizontal {
  display: flex;
  width: 100%;
  /* overflow-x: hidden; */
  overflow-x: auto;
  gap: 12px;
}

.scroll__horizontal::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

.scroll__horizontal::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909098;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.scroll__horizontal:hover {
  overflow-x: auto;
}

.bg__address__gray {
  background: #F5F5F6;
  border-radius: 4px;
  padding: 12px;
}

.custom__scroll__info {
  /* height: calc(100vh - 250px); */
  overflow-x: auto;
  overflow-y: auto;
}

/* .custom__scroll__info::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
} */

.custom__scroll__info {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.custom__scroll__info::-webkit-scrollbar {
  display: none;
}

.custom__scroll__info::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909098;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.custom__scroll__info:hover {
  /* padding-right: 4px; */
  overflow-y: scroll;
}

.mt-48px {
  margin-top: 48px;
}

.mb-48px {
  margin-bottom: 48px;
}

.custom__select2__st3 .select2-container--default .select2-selection--single,
.custom__select2__st3 .select2-container--default .select2-selection--multiple {
  background: #FFFFFF;
  border: 1px solid #909098;
  border-radius: 4px;
  min-height: 44px;
}

.custom__select2__st3 .select2-selection__rendered,
.custom__select2__st3 .select2-selection__placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #2E2D3D !important;
}

.select2-container--default .select2-results__option[aria-selected=true]:after {
  background-image: none !important;
}

.select2__h48px .select2-container--default .select2-selection--single,
.select2__h48px .select2-container--default .select2-selection--multiple {
  height: 48px;
}

.grid__items__header {
  display: grid;
  grid-template-columns: 1fr 148px 25% 25% 70px;
  gap: 8px;
}

.input__prefix__icon {
  position: relative;
}

.input__prefix__icon input {
  outline: none;
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  padding: 0px 12px 0px 45px;
}

.input__prefix__icon input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #909098;
}

.input__prefix__icon img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.toggle__filter__box {
  background: #FFFFFF;
  border: 1px solid #FFCF90;
  border-radius: 4px;
  padding: 8px 8px 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 12px;
}

.hide__el {
  display: none !important;
}

.daterangepicker .cancelBtn {
  background: #FFFFFF !important;
  border: 1px solid #DADADD !important;
  border-radius: 4px !important;
  padding: 0px 25px !important;
  height: 44px !important;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #1D1C2D;
  min-height: 44px;
}

.daterangepicker .applyBtn {
  background: #384ADC !important;
  border-radius: 4px !important;
  padding: 0px 25px !important;
  height: 44px !important;
  border: 0px solid #DADADD !important;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  min-height: 44px;
}

.daterangepicker .ranges {
  padding: 16px !important;
}

.daterangepicker .ranges ul li.active,
.daterangepicker .ranges ul li:hover {
  background: #FFF5E7;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FF970D;
}

.daterangepicker .ranges ul li:hover {
  margin: 2px 0px;
}

.daterangepicker .table-condensed .month {
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #0F172A !important;
}

.daterangepicker .table-condensed tbody tr td.available {
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 20px !important;
  color: #0F172A;
}

.daterangepicker .table-condensed tbody tr td.available.off {
  color: #CBD5E1;
}

.popup__update__order {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  top: calc(100% + 12px);
  padding: 16px;
  z-index: 22;
  right: 0;
}

.mt-32px {
  margin-top: 32px;
}

.color__red {
  color: #EF4444;
  width: 641px;
}

.grid__col__25__1fr {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.grid__col__25__1fr .col__left {
  padding-right: 12px;
}

.grid__col__25__1fr .col__right {
  padding-left: 12px;
  border-left: 0.5px solid #DADADD;
}

.grid__col__30__1fr {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.custom__tab__ver {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom__tab__ver .tab__item__click {
  padding: 9px 12px;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
  cursor: pointer;
}

.custom__tab__ver .tab__item__click.active {
  background: #F5F5F6;
  border-radius: 4px;
  color: #FF970D;
}

.mb-32px {
  margin-bottom: 32px;
}

.custom__tabs__content .tab__content__item {
  display: none;
}

.custom__tabs__content .tab__content__item.active {
  display: block;
}

.custom__select2__checkall .select2-results__option--selected {
  color: #4B4B59 !important;
  font-weight: 500;
  padding: 8px;
  opacity: 0.4;
}

.custom__select2__checkall .select2-results__option {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #4B4B59 !important;
  padding: 8px !important;
}

.custom__select2__checkall .select2-results__option:first-child {
  border-bottom: 1px solid #DADADD;
}

.select2-container--default .select2-selection__choice__remove {
  outline: none;
  border: none;
  background: transparent;
  transform: translateY(1px) translateX(2px);
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  flex-direction: row-reverse;
}

.select2-container--default .select2-search__field::placeholder {
  padding-left: 12px !important;
}

.select2-container--default .select2-selection__rendered {
  padding: 10px 0px !important;
}

.order__stt__list {
  border: 1px solid #DADADD;
  border-radius: 4px;
  max-width: 462px;
  width: 80%;
  margin-left: 35px;
  margin-top: 12px;
  padding: 16px 18px 17px;
}

.w-25percent {
  width: 25%;
}

.w-35percent {
  width: 35%;
}

.custom__input__w__select .select2-selection {
  border-radius: 8px 0px 0px 8px !important;
  min-height: 45px;
}

.custom__input__w__select .custom__input__unit {
  border-radius: 0px 4px 4px 0px;
}

.select__address__gr {
  margin-left: 35px;
}

.w-33percent {
  width: 33%;
}

.bg__opacity__lr {
  width: calc(100% - 80px);
  position: relative;
}

.bg__opacity__lr::after {
  content: "";
  width: 19px;
  height: 100%;
  /* background: linear-gradient(270deg, #494949 0%, rgba(255, 255, 255, 0) 100%); */
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 111;
}

.bg__opacity__lr::before {
  content: "";
  width: 19px;
  height: 100%;
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 111;
}

.ul__tab__scroll__horizontal__parent {
  width: 100%;
  overflow-x: scroll;
}

.ul__tab__scroll__horizontal__parent::-webkit-scrollbar {
  display: none;
}

.ul__tab__scroll__horizontal {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: 2400px;
}

.table__sticky__tl {
  width: 100%;
}

.table__sticky__tl .wrapper {
  position: relative;
  overflow: auto;
  height: 550px;
}

.table__sticky__tl .wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

.table__sticky__tl .wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #FF970D;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.table__sticky__tl td,
.table__sticky__tl th {
  min-width: 200px;
  width: 200px;
  z-index: 1;
}

.table__sticky__tl thead {
  position: sticky;
  top: -1px;
  z-index: 21;
  background: #F0F0F1;
}

.table__sticky__tl .sticky-col {
  position: sticky;
  left: 0;
  z-index: 20;
  background-color: white;
}

.table__sticky__tl thead .sticky-col {
  background: #F0F0F1 !important;
}

.table__sticky__tl .first-col {
  width: 50px;
  min-width: 50px;
  left: 0;
  padding-left: 0px !important;
}

.table__sticky__tl .second-col {
  width: 200px;
  min-width: 200px;
  left: 50px;
}

.table__sticky__tl .third-col {
  width: 200px;
  min-width: 200px;
  left: 250px;
}

.table__sticky__tl .fourth-col {
  width: 200px;
  min-width: 200px;
  left: 450px;
}

.table__sticky__tl thead th {
  padding: 8px;
  background-color: #F0F0F1;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59 !important;
  text-transform: capitalize;
}

.table__sticky__tl tbody tr td {
  padding: 12px 10px;
  border-bottom: 1px solid #DADADD;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B59;
  vertical-align: middle !important;
}

.table__sticky__tl tbody tr:last-child td {
  border-bottom: none !important;
}

.tooltip {
  z-index: 333333333 !important;
  opacity: 1;
}

.tooltip .tooltip-inner {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 5px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #4B4B59;
  opacity: 1;
}

.content__page {
  z-index: 111;
  position: relative;
}

#select2__custom .icon__select2 {
  z-index: 111 !important;
}

.line__ver {
  width: 1px;
  height: 24px;
  background-color: #4B4B59;
}

.gap-12px {
  gap: 12px;
}

.mt-0-i {
  margin-top: 0px !important;
}

.nav-tabs > li {
  float: left;
  margin-bottom: 1px !important;
}

.active__blue__sl2 .select2-selection__rendered {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: #384ADC !important;
}

.not__bold {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #5F5E6B !important;
}

span.select2-container.select2-container--default.select2-container--open {
  z-index: 1111;
}

.nav > li > a {
  padding: 6px 10px !important;
  padding-right: 35px !important;
}

.nav > li.add__new__tab > a {
  padding-right: 10px !important;
}

.input__add__tag {
  border: none;
  outline: none;
}

.checkbox__orange .custom-control-label span.not__bold {
  margin-top: 5px;
}

.input__table {
  width: 109px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #DADADD;
  border-radius: 4px;
  text-align: center;
}

.fw-400-i {
  font-weight: 400 !important;
}

.color__1D1C2D {
  color: #1D1C2D !important;
}

.border__table {
  border: 1.5px solid #DADADD;
  border-radius: 4px;
}

.custom__tag__gray {
  background: #F5F5F6;
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #5F5E6B;
}

.add__new__items__tb {
  padding: 16px 8px;
  border: 1.5px solid #DADADD;
  border-top: none;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fw__600 {
  font-weight: 600 !important;
}

.title__modal__custom {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: #2E2D3D !important;
}

.custom__upload__image {
  border: none !important;
  width: 80px !important;
  height: 80px !important;
}

.custom__upload__image .close {
  top: 5px;
  right: 6px;
}

.font-14-i {
  font-size: 14px !important;
}

.warning__button {
  background-color: #FF970D !important;
}
/* 
.select2-container.select2-container--default.select2-container--open {
  z-index: 12141 !important;
} */

.modal_address_customer .select2-container {
  width: 100% !important;
}

.swal2-container {
  z-index: 30000 !important
}

.customer__search_result {
  max-height: 155px;
  overflow: auto;
}

.td_order_items {
  position: relative;
}

.td_order_items .td_items_skus {
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background: #FFFFFF;
  transform: translateY(100%) translateX(-5px);
  padding: 4px 8px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 300000 !important;
}

.infor_column:hover .td_order_items .td_items_skus {
  pointer-events: all;
  opacity: 1;
}

.td_order_items .td_items_skus p:not(:last-child) {
  margin-bottom: 4px;
}

.td_order_items .td_items_skus p:last-child {
  margin-bottom: 0x !important;
}

.delete__confirm__custom.in {
  z-index: 2000000 !important;
}

.combo__combo-item {
    background: rgba(255, 202, 68, 0.2);
}

.combo__combo-detail {
    color: #F97316;
    background: rgba(255, 202, 68);
}

.tbody__order__id .combo__combo-item.none__item td div {
    text-align: left !important;
}

#combo__combo_ask {
    background: #FF970D !important;
    color: white;
}
#combo__combo_ask button {
    height: auto;
    padding: 5px 10px;
    font-size: 14px;
}
#combo__combo_ask button.no {
    color: #5F5E6B;
}

