/* * {
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
} */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6f8;
}

.page-header {
  align-items: center;
  background-color: #f5f6f8;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.page-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-header li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  position: relative;
}

.page-header li + li {
  margin-left: 12px;
}

.page-header li + li::before {
  content: "/";
  position: absolute;
  left: -9px;
}

.page-header__saved {
  color: #707683;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.page-header__preview-btn {
  background: #f9f6ff;
  border: 1px solid #655be6;
  border-radius: 20px;
  color: #655be6;
  font-size: 14px;
  line-height: 19px;
  padding: 8px 27px 6px;
  margin: 0 8px;
}

.page-header__next-btn {
  background: #655be6;
  border: 1px solid #655be6;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  padding: 8px 27px 6px;
}

.footer {
  display: none !important;
}

.content {
  /* padding: 0 16px; */
}

.product {
  border-radius: 6px;
}

.product__header {
  background-color: #ebeff2;
  padding: 15px 32px;
}

.product__header h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin: 0;
  text-transform: uppercase;
}

.product__detail {
  background-color: #fff;
  padding: 32px;
}

.product__detail-1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.product__detail-1 table {
  border-collapse: collapse;
}

.product__detail-1 th,
.product__detail-1 td {
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 27px;
}

.product__detail-1 th {
  color: #707683;
  font-weight: 500;
  width: 200px;
  text-transform: uppercase;
}

/* .product__detail-1 td {
  color: #1d2329;
  font-weight: bold;
} */

.product__detail-1__ul p {
  color: #707683;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin: 0;
  text-transform: uppercase;
}

.product__detail-1__ul ul {
  margin: 0;
  padding: 0;
}

.product__detail-1__ul li {
  list-style: none;
  margin-top: 15px;
  padding-left: 12px;
  position: relative;
}

.product__detail-1__ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  margin-top: -2px;

  background-color: #7a5ade;
  border-radius: 50%;
}

.product__detail-1__ul li span:first-child {
  color: #707683;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  width: 140px;
}

.product__detail-1__ul li span:last-child {
  color: #1d2329;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.product__detail-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.product__detail-2__select {
  align-items: center;
  display: flex;
}

.product__detail-2__select label {
  color: #707683;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
}

.product__detail-2__select-1 label {
  width: 200px;
}

.product__detail-2__select-2 label {
  width: calc(140px + 12px);
}

.product__detail-2__select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/svg/select-arrow.svg") no-repeat #fff;
  background-position: calc(100% - 16px) 50%;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: #1d2329;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 16px 12px;
  width: calc(50% - 20px);
}

.sku--wrapper,
.production {
  background-color: #fff;
  /* margin-top: 45px; */
  margin-bottom: 60px;
  padding: 0 32px;
}

.sku--title {
  color: #6993FF;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin: 0;
  text-transform: uppercase;
}

.sku {
  margin-bottom: 48px;
}

.sku .sku--title {
  margin-bottom: 16px;
}

.production .sku--title {
  margin-bottom: 12px;
}

.sku--wrapper table,
.product__detail-1 table {
  border-collapse: collapse;
  width: 100%;
}

.sku--wrapper th,
.sku--wrapper td,
.product__detail-1 th,
.product__detail-1 td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 16px;
}

.sku--wrapper th,
.product__detail-1 th {
  color: #707683;
  text-transform: uppercase;
}

.sku--wrapper td,
.product__detail-1 td {
  color: #26305a;
}

.sku--wrapper th:first-child,
.sku--wrapper td:first-child,
.product__detail-1 th:first-child,
.product__detail-1 td:first-child {
  border-left: none;
  padding-left: 0;
}

.sku--wrapper tfoot td,
.product__detail-1 tfoot td {
  border-bottom: 1px solid #ddd;
  padding: 0;
}

.sku--wrapper .new-button,
.product__detail-1 .new-button {
  background-color: transparent;
  border: none;
  color: #707683;
  display: flex;
  line-height: 18px;
  padding: 16px 0;
  text-align: left;
  width: 100%;
}

.sku--wrapper .new-button svg,
.product__detail-1 .new-button svg {
  margin-right: 8px;
}

.sku--wrapper .new-button:hover,
.sku--wrapper .new-button:focus,
.product__detail-1 .new-button:hover,
.product__detail-1 .new-button:focus {
  background-color: #f3f4f8;
}

.sku--wrapper tbody td:hover,
.product__detail-1 tbody td:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-link.nav-product-info {
  background-color: #ebeff2 !important;
  border-radius: 4px 4px 0px 0px !important;
  border: none !important;
  color: #1d2329 !important;
  font-size: 14px;
  line-height: 19px;
  margin: 0 !important;
  padding: 8px 16px 12px !important;
}

.nav-link.nav-product-info.active {
  background-color: #6993FF !important;
  color: #fff !important;
}
